<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
</head>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-badge text-success"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Users</p>
              <p class="card-title"> {{numberu}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-bullet-list-67 text-info"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Projects</p>
              <p class="card-title"> {{numberp}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-credit-card text-danger"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Tasks</p>
              <p class="card-title"> {{numbert}}
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-stats">
      <div class="card-body ">
        <div class="row">
          <div class="col-5 col-md-4">
            <div class="icon-big text-center icon-warning">
              <i class="nc-icon nc-vector text-warning"></i>
            </div>
          </div>
          <div class="col-7 col-md-8">
            <div class="numbers">
              <p class="card-category">Speciality</p>
              <p class="card-title"> 4
                <p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6  mx-auto">
    <div class="card">
    <div class="card-header ">
      <p class="card-category">Last Update</p>
    </div>
    <div class="card-body">

      <div id="canvas2"  width="200" height="60"></div>
  </div>
  <div class="card-footer ">

    <hr>
    <div class="stats">
      <i class="fa fa-microchip"></i> Project Status
    </div>
  </div>
  </div>
  </div>
<div class="col-sm-6  mx-auto">
  <div class="card">
  <div class="card-header ">
    <p class="card-category">Last Update</p>
  </div>
  <div class="card-body">


        <div id="container"  width="200" height="60"></div>
</div>
<div class="card-footer ">
  <hr>
  <div class="stats">
    <i class="fa fa-window-restore"></i> Number of users per speciality
  </div>
</div>
</div>
</div>




</div>


<div class="row" >
<div class="col-sm-11 mx-auto" >
  <div class="card">
    <div class="card-header ">
      <p class="card-category">Last Update</p>
    </div>
    <div class="card-body">

      <div id="c" width="300" height="45"></div>
</div>
<div class="card-footer ">

  <hr>
  <div class="stats">
    <i class="fa fa-calendar"></i> Last tracking date
  </div>
</div>
</div>
</div>

</div>



